Microsoft.Flow/flows/definition.json
{"name":"4ca916ce-75ac-4401-a568-cac302f7a083","id":"/providers/Microsoft.Flow/flows/4ca916ce-75ac-4401-a568-cac302f7a083","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"MyRoutine","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"87b333dc-555c-42ca-a326-55345609068d","type":"User","tenantId":"f52f2183-9f67-4ad2-b656-6f754fe196cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-03T18:03:50.9330743Z","connectionKeySavedTimeKey":"2024-11-03T17:30:11.4925615Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":"1","startTime":"2024-11-01T16:00:00.000Z"},"type":"Recurrence"}},"actions":{"Get_files_(properties_only)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait.sharepoint.com/sites/ProductsWebsite","table":"f5864dbc-c65d-444c-ab26-699f74684f66"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_files_(properties_only)')?['body/value']","actions":{"List_rows_present_in_a_table":{"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/mysait.sharepoint.com,5fd1edd0-2757-4cba-be1c-6566a2a928e3,de6c5ebc-5fb5-489a-a891-411bbda05f1a","drive":"b!0O3RX1cnuky-HGVmoqko47xebN61X5pIqJFBG72gXxq8TYb1XcZMRKsmaZ90aE9m","file":"@item()?['{FullPath}']","table":"ProductTbl","dateTimeFormat":"ISO 8601"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_row":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Select_Tags":{"type":"Select","inputs":{"from":"@split(item()?['Tags'],';')","select":{"Value":"@item()"}}},"Create_item":{"runAfter":{"Filter_array":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait-my.sharepoint.com/personal/zahra_pourmorady_edu_sait_ca","table":"34f9447a-6558-47ee-b607-5b7a8e7628bd","item/Title":"@item()?['Product ID']","item/field_1":"@item()?['Product Name']","item/field_2":"@item()?['Arrival Date']","item/field_4":"@item()?['Price']","item/field_5":"@body('Select_Tags')","item/field_6/Value":"@item()?['Stock Status']","item/PCategory/Id":"@body('Filter_array')?[0]?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Select_Tags":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_Categories')?['body/value']","where":"@equals(item()?['Title'],items('Apply_to_each_row')?['Category'])"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Categories":["Succeeded"]},"type":"Foreach"},"Get_Categories":{"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait-my.sharepoint.com/personal/zahra_pourmorady_edu_sait_ca","table":"560ddee3-b47b-43b8-9947-4d38ed1bbd3b"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}}},"description":"Workflow to import data from Excel to SharePoint"},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e41443de-3431-444d-bf01-2fee897ef0c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-70c02ae6-0c30-4807-986a-6d965df89b07","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}